<div class="content-padded">
    <input type="text" placeholder="Numero Incidencia" ng-model="num_incidencia" />
    <input type="text" placeholder="Descripción" ng-model="descripcion"/>
    <input type="text" placeholder="Fecha (AAAA-MM-DD)" ng-model="fecha"/>

    <button ng-click="takePicture()" class="btn btn-default btn-block" type="button">
        Foto <span class="icon icon-plus"></span>
    </button>
</div>

<div align="center">

    <img  src="{{pictureUrl}}" style="width:300px;" >

</div>

<div class="content-padded">
    <button class="btn btn-block btn-primary" type="button" ng-click="registraIncidencia()">Añadir</button>
</div>



