<div class="card pedido-visualizar">
    <ul class="table-view">
        <li class="table-view-divider text-center">
            <h1>Pedido #{{ pedido.num_pedido }}</h1>            
        </li>
        <li class="pedido-cabecera">
            <dl>
                <dt>Descripción</dt>
                <dd>{{ pedido.descripcion }}</dd>
                <dt>Fecha Carga</dt>
                <dd>{{ pedido.fechac }}</dd>
                <dt>Fecha Descarga</dt>
                <dd>{{ pedido.fechad }}</dd>
            </dl>
        </li>
        <li class="table-view-divider">Estado</li>
        <li class="pedido-estado-control">
            <select ng-model="Estado" ng-change="actualizaEstado()">
                <option ng-repeat="e in estados" value="{{ e.id }}">{{ e.Valor }}</option>
            </select>
        </li>
        <div class="content-padded">
            <a class="btn btn-block btn-primary" href="#/pedidos/registrar/{{ pedido.id }}">Añadir Incidencia</a>
        </div>
    <li class="table-view-cell media" ng-repeat="d in model.Detalle">
            <img class="media-object pull-left" style="width:100px;" src="{{ d.imagen }}">
            <div class="media-body">
                Incidencia #{{ d.num_incidencia }}</br>
                {{ d.fecha }} 
                <p>{{ d.descripcion }} </p>
            </div>
    </li>
    </ul>
</div>