<p class="content-padded">Bienvenido a la App de <strong>MetoTrans</strong></p>
<div class="input-group content-padded">
    <div class="input-row">
        <label>Email</label>
        <input type="text" placeholder="Ingrese su email" ng-model="correo">
    </div>
    <div class="input-row">
        <label>Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" ng-model="password">
    </div>
    <button class="btn btn-primary btn-block" type="button" ng-click="ingresar()">
        Entrar
        <span class="icon icon-right"></span>
    </button>
</div>

<div class="bar bar-standard bar-footer">
      <p class="content-padded">Desarrollado por <a href="https://es.linkedin.com/in/alejandro-leiva-alarc%C3%B3n-7a995280" target="_blank">Alejandro Leiva Alarcón</a></p>
    </div>