<div class="content-padded">
    <input type="text" placeholder="Cliente" />
    
    <select>
        <option>Producto 1 (USD 5)</option>
        <option>Producto 2 (USD 10)</option>
    </select>

    <input type="text" placeholder="Cantidad" />

    <button class="btn btn-default btn-block" type="button">
        Agregar <span class="icon icon-plus"></span>
    </button>
</div>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
            <div class="pedido-detalle">
                <strong class="producto">Popcorn Gigante</strong>
                <div class="descripcion">
                    <b>Cnt.</b>: 4 <b>P.U</b>: 10 USD <b>Total</b>: 40 USD
                </div>
            </div>
            <button class="btn btn-negative">
                <span class="icon icon-trash"></span>
            </button>
        </li>
        <li class="table-view-cell">
            <div class="pedido-detalle">
                <strong class="producto">Limonada Frozen</strong>
                <div class="descripcion">
                    <b>Cnt.</b>: 1 <b>P.U</b>: 7 USD <b>Total</b>: 7 USD
                </div>
            </div>
            <button class="btn btn-negative">
                <span class="icon icon-trash"></span>
            </button>
        </li>
        <li class="table-view-cell">
            <div class="pedido-detalle">
                <strong class="producto">Popcorn Gigante</strong>
                <div class="descripcion">
                    <b>Cnt.</b>: 4 <b>P.U</b>: 10 USD <b>Total</b>: 40 USD
                </div>
            </div>
            <button class="btn btn-negative">
                <span class="icon icon-trash"></span>
            </button>
        </li>
        <li class="table-view-cell">
            <div class="pedido-detalle">
                <strong class="producto">Limonada Frozen</strong>
                <div class="descripcion">
                    <b>Cnt.</b>: 1 <b>P.U</b>: 7 USD <b>Total</b>: 7 USD
                </div>
            </div>
            <button class="btn btn-negative">
                <span class="icon icon-trash"></span>
            </button>
        </li>
        <li class="table-view-cell">
            <div class="pedido-detalle">
                <div class="total">
                    USD 47.00
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="content-padded">
    <a class="btn btn-block btn-primary" href="#/pedidos/registrar">Registrar</a>
</div>