<div class="content-padded" ng-controller="CamaraCtrl">
    <input type="text" placeholder="Numero Incidencia" />
    <input type="text" placeholder="Descripción" />
    <input type="text" placeholder="Fecha (AAAA-MM-DD)" />

    <button class="btn btn-default btn-block" type="button" ng-click="takePhoto()">
        Foto <span class="icon icon-plus"></span>
    </button>
</div>

<div>
    <ul class="table-view">
        <li class="table-view-cell media">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
                Item 1
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
    </ul>
</div>

<div class="content-padded">
    <a class="btn btn-block btn-primary" href="#/pedidos/registrar">Añadir</a>
</div>